.category-all{
    max-width: 600px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    background-color: #fff;
    position: fixed;
    top: 100vh;
    overflow: hidden;
    z-index: 999;
    display: flex;
    flex-direction: column;
    transition: top 0.5s;
}

.category-header{
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px 5px 10px;
    box-sizing: border-box;
    font-size: 17px;
}

.category-header > span{
    font-weight: bold;
    padding-left: 40px;
}

.category-header-iconBox{
    display: flex;
    gap: 20px;
    color: #666;
    font-size: 17px;
    cursor: pointer;
}

.category-header > i {
    color: #666;
    cursor: pointer;
}

.category-contents{
    width: 100%;
    height: 100%;
    display: flex;
}

.category-sidebar{
    width: 30%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.category-sidebar-list{
    width: 100%;
    height: fit-content;
    padding: 15px 0px 15px 10px;
    font-size: 15px;
    font-weight: 600;
    color: #666;
    background-color: #ddd;
    cursor: pointer;
    transition: all 0.2s;
}

.category-title{
    font-size: 15px;
    color: #666;
    font-weight: bold;
    margin-block: 10px;
}

.category-itemBox{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: scroll;
    padding-bottom : 100px;
}

.category-box{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.items-box{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3 , minmax(0, 1fr));
    row-gap: 15px;
}

.item-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

.category-img-Box{
    width: 60%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
}

.item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.3s;
}

.item-img:hover{
    transform: scale(1.2);
}

.item-name{
    font-size: 10px;
    color: #888;
}

@media screen and (max-width: 576px) {
    .category-all{
       margin-top: 20px;
    }
  }